<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>

    <p>Cette applciation a été développé par 3 étudiants en développement Back-End.</p>

    <p>Elle permet de récupérer la température d'une ville à partir d'une donnée rentrée par l'utilisateur.</p>
    
    <p>Ce site fait des requêtes à deux APIs:</p>
    <ul>
        <li><a href="https://positionstack.com/">PositionStack</a>: Pour récupérer la longitude et la latitude d'une ville</li>
        <li><a href="https://openweathermap.org/">OpenWeatherMap</a>: Pour récupérer la rempérature basée sur la longitude et la latitude récupérées via PositionStack, ainsi que d'afficher la liste de suggestions de villes en fonction de l'entrée de l'utilisateur.</li>
    </ul>
</body>
</html>